/**
I need to relativley position gamebox to the window and absolutley position the gridbox and button box
to the gamebox area
**/



* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px:
}

body {
  background-color: Lightgreen;
}

#gameBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 750px;
  max-width: 900px;
  min-height: 600px;
  max-height: 700px;
  border: 4px solid navy;
  border-radius: 10px;
  background-color: Lightblue;
}

.cellsClass {
  display: inline-block;
  opacity: 0;
  background-color: black;
}

#gridBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  font-size: 0px;
  border: 2px solid navy;
  border-radius: 10px;
  background-color: white;
}



#buttonArea {
  position: absolute;
  bottom: 0%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
}

.sizeButtons {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0% 5%;
  padding: 20px;
  display: inline-block;
  background-color: white;
  border: 2px solid navy;
  border-radius: 100%;
  font-weight: bold;
  color: navy;
}
